body {
    background-color: #FFF7E6;
    color: #4D1F00;
}

#header {
    text-align: center;
    font-size: 36px;
}

#selCrimeType {
    font-size: 36px;
    text-align: center;
}

#display {
    width: 100%;
}

#display span {
    display: inline-block;
}

#lineGraphs {
    width: 1728px;
    height: 500px;
}
#victimGraphs {
    width: 1728px;
    height: 500px;
}

#staticLine {
    width: 573px;
    height: 500px;
    background-color: #FEC;
}
#dynamicLine {
    width: 1150px;
    height: 500px;
    background-color: #FEC;
}
#pie {
    width: 573px;
    height: 500px;
    background-color: #FEC;
}
#barAge {
    width: 573px;
    height: 500px;
    background-color: #FEC;
}
#barEth {
    width: 573px;
    height: 500px;
    background-color: #FEC;
}
#map {
    width: 794px;
    height: 1000px;
    background-color: #FEC;
}

.select {
    margin-left: 144px;
}

div.year {
    height: 72px;
    width: 200px;
    font-size: 60px;
    padding: 12px;
    border-radius: 6px;
    text-align: center;
    display: inline-block;
    background-color: #FF751A;
    cursor: pointer;
}

select {
    padding: 18px;
    background-color: #FEC;
    border-color: #803300;
    border-radius: 12px;
    border-width: 4px;
}
